@page
@model SalonWebApp.Pages.Regions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1 class="text-center">Edit Region Details</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/operation.png" class="img-fluid" />
        </div>
        <div class="col-md-8">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Region.Id" />
                <div class="form-group">
                    <label asp-for="Region.RegionName" class="control-label"></label>
                    <input asp-for="Region.RegionName" class="form-control" />
                    <span asp-validation-for="Region.RegionName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Region.IslandName" class="control-label"></label>
                    <input asp-for="Region.IslandName" class="form-control" />
                    <span asp-validation-for="Region.IslandName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save Details" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
