@page
@model SalonWebApp.Pages.Services.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1 class="text-center">All Salon Services</h1>

    <p>
        <a asp-page="Create" class="btn btn-primary">Add New Salon Service</a>
    </p>
    <div class="row">
        @foreach (var item in Model.Service)
        {
            <div class="col-6">
                <div class="card mb-2">
                    <div class="card-body">
                        <h4 class="card-title">@item.ServiceName</h4>
                        <p>@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <a asp-page="./Edit" class="btn btn-secondary mr-2" asp-route-id="@item.Id">Edit</a>
                        <a asp-page="./Delete" class="btn btn-warning" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>