@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to Salon Hub</h1>
        <p>Makes you look awsome!</p>
    </div>
</div>
<section>
    <img src="~/images/home.jpg" class="img-fluid" />
</section>

